

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Bubblegum Sans", cursive;
  background-image: url(../img/gta-map.png);
  background-position: center;
  background-size: cover;
}

/*NAvBAr*/
#navbar {
  background-color: #a5d1a8;
  font-family: "Carter One", cursive;
}

#linkNav {
  color: rgb(19, 135, 29);
  /* color: darkslategray; */
}

#linkNav:hover {
  /* color: rgb(64, 204, 204); */
  color: rgb(89, 172, 75);
}

#linkNav {
  text-decoration: none;
  margin-left: 15px;
}

#navbar-brand {
  color: green;
  text-shadow: 4px 4px 2px hsl(108, 99%, 37%);
  font-size: 2.5em;
  word-spacing: 10px;
  /* font-family: 'Bubblegum Sans', cursive; untuk tulisan biasa */
  /* font-family: 'Carter One', cursive; untuk tulisan judul */
  font-family: "Monoton", cursive; /*untuk judul brand*/
  /* font-family: 'Palette Mosaic', cursive; untuk judul brand */
}

#nav-collap {
  /* border: 1px solid black; */
  width: auto;
}

/* HEADER */
#dynasty {
  background-image: url(../img/gta-lanscape.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#dynasty > img {
  display: block;
  width: 20%;
  height: 30%;
  margin: auto;
}

#header {
  margin-top: 0rem;
  margin-bottom: 0%;
}

/*BEST*/
#best-why {
  margin-top: 0%;
  padding: 90px 1px;
  background-color: #a5d1a8c9;
  /* background-image: url(../img/gta-lanscape.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
}

#best {
  /* margin-top: 3.5rem; */
  background-color: rgba(250, 250, 250, 0.74);
  padding: 15px 30px;
  border-radius: 1em;
}

#bestRight ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#bestRight li {
  margin: 15px 15px;
  margin-left: 0;
}

#bestRight img {
  float: left;
  margin-right: 1.5rem;
}

#bestRight h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

#bestRight p {
  width: 90%;
  text-align: justify;
}

#iconBest {
  color: #0d28a6;
  padding: 0;
  margin: 0;
  font-size: 1.7rem;
}

#iconBestArea {
  width: 15px;
  height: 15px;
  background-color: #cfd4ed;
  border-radius: 50%;
  padding: 0.33rem;
  margin-right: 25px;
}

/* WHY */

#why {
  margin-top: 0px;
  background-color: rgba(250, 250, 250, 0.74);
  padding: 30px 30px;
}

#why h1 {
  font-size: 1.7rem;
  font-weight: bold;
}

#why-content {
  height: 220px;
  border-radius: 1.5rem;
  background-color: rgba(250, 250, 250, 0.74);
  border: 2px solid green;
}

#why-content h3 {
  font-size: 1rem;
}

#why-content p {
  text-align: justify;
}

/* TESTIMONI */
#testimoni {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  /* background-color: #cfd4ed; */
  background-color: #a5d1a8c9;
}

/* .owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
	margin: 5rem;
    height: 32px;
    width: 32px;
    background:#F1F3FF;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background:#51fa03;
    border: none;
} */

#testimoni-carousel {
  padding: 2px 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carouselnya {
  padding: 2px 0px;
  width: 100%;
  height: 15rem;
  background: #f1f3ff;
  border-radius: 1.5rem;
}

/* #testimoni-img {
		overflow: hidden;
		border-radius: 2rem;
		width: 100px;
		height: 98px;
	} */

#ratingnya {
  width: 50%;
  height: 50%;
  margin-bottom: 1em;
}

/* #testimoni h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

#testimoni-carousel ul {
  list-style: none;
} */

/* #testimoni-carousel li {
	width: 650px;
} */

/* #testimoni-carousel a {
  text-decoration: none;
}

#testimoni-carousel p {
  text-align: justify;
}

.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

#testimoni-main {
  height: 100%;
  border-radius: 1rem;
  background-color: #f1f3ff;
} */

/* SEWA */
#sewa {
  border-radius: 1rem;
  background-color: #0da652;
  padding: 2.5rem;
  width: 75%;
}

#sewa h1 {
  font-weight: bold;
  color: #f1f3ff;
}

#sewa p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: light;
  font-weight: 300;
  color: #ffffff;
  width: 55%;
}

/* FAQ */
#faq {
  margin-top: 5rem;
}

#faq h3 {
  font-weight: bold;
}

/* FOOTER */
#footer {
  background-color: #a5d1a8;
}

#footer p {
  color: rgb(19, 135, 29);
}

#footer-link a {
  color: rgb(19, 135, 29);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-weight: bold;
}

#footer-link a:hover {
	color: rgb(89, 172, 75);
}


@media only screen and (max-width: 425px) {
  #navbar-brand {
    font-size: 1.7rem;
    margin: auto 5px;
  }

  #nav-collap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #dynasty > img {
	display: block;
	width: 40%;
	height: 20%;
	margin: auto;
	}

  #testimoni-img {
    overflow: hidden;
    border-radius: 2rem;
    width: 100px;
    height: 98px;
  }
}

@media only screen and (min-width: 768px) {
  #navbar-brand {
    margin: auto 5px;
  }

  #nav-collap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #testimoni-img {
    overflow: hidden;
    border-radius: 2rem;
    width: 100px;
    height: 98px;
  }
}

@media only screen and (min-width: 1024px) {
  #nav-collap {
    width: 30%;
  }

  #testimoni-img {
    overflow: hidden;
    border-radius: 2rem;
    width: 140px;
    height: 120px;
  }
}